* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

body {
    background-color: aqua;
    height: 100vh;
    position: relative;


}

button {
    cursor: pointer;
}

#notifications {
    max-width: 800px;
    width: 98%;
    margin: 16px auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #e6d8d8;
    text-align: center;
    color: red;
    visibility: hidden;

}



form,
#tasks {
    max-width: 500px;
    width: 90%;
    margin: 16px auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 20px #e6d8d8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* #tasks {
    overflow-y: scroll;
    height: auto;

} */

.input-field,
#add-task {

    height: 30px;
}

.input-group {
    position: relative;
}

.input-field {
    border: none;
    border-bottom: 1px solid aqua;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.input-field:focus {
    outline: none;
    border-bottom: 2px solid black;
}

#error {
    display: none;
    font-size: 12px;
    color: red;
}

#buttons-group {
    text-align: center;
    display: flex;
    justify-content: center;
}

#add-task,
#update-btn {
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    margin: 0px auto;
    border: 1px solid black;
    margin: 0 5px;
    font-weight: 500;
}

#add-task {
    background-color: blue;
    color: white;
    border: blue;

}

#update-btn {
    background-color: green;
    color: white;
    display: none;
}

#clearInput {
    text-decoration: none;
    position: absolute;
    top: -5px;
    right: 16px;
    font-size: small;
    padding: 4px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #584c512e;
    border: none;
    box-shadow: 5px 5px 1px 1px aqua;
    display: none;
}

#add-task:hover {
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

#clear-task:hover {
    background-color: white;
    color: black;
}

#tasks {
    list-style: none;
}

.task-items {
    border: 1px solid aqua;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#empty-task {
    text-align: center;
}

.task-content {
    flex: 1;
    font-weight: 600;
}

.deletebtn,
.editbtn {
    margin: 2px;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: none;
}

.editbtn {}

.deletebtn {}

#modal {
    width: 90%;
    max-width: 600px;
    box-shadow: 5px 5px 5px 5px rgb(46 108 108 / 24%);
    z-index: 5;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: auto;

}

#modal-close {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
}

#offset {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000003d;
    z-index: 4;
    cursor: pointer;
    display: none;
}

.task-header {
    position: relative;
}

.task-header h2 {
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}